html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
.has-background-color{
  background-color:#00486c;
}
.navbar {
  background-color: #00486c;
}
.logout-btn:hover {
  background-color: #00486c;
}
.slider-text {
  color: #ceb071;
}
.carousel-item {
  height: 100vh;
}
footer {
  display: block;
  overflow: hidden;
}
.slider-img {
  width: fit-content;
}
.costum-footer {
  background-color: #00486c;
  color: white;
  clear: both;
  text-align: center;
  padding: 3rem 1rem;
  margin-top: auto;
}
.search-btn {
  border: 1px solid transparent;
  background-color: #00486c;
  color: #fff;
}
.pp {
  visibility: hidden;
}
.services {
  background-color: #eeeeee;
  height: 85vh;
  color: #00486c;
}
.icon {
  color: #00486c;
}
.rooms {
  height: auto;
  background: linear-gradient(0deg, #00486c 60%, #eee 40%);
}
.card-body {
  background-color: #eee;
}
.card-title {
  color: #ceb071;
}
.book-btn {
  border: 1px solid transparent;
  background-color: #00486c;
  font-size: 16px;
  padding: 12px 20px;
}

.contact-btn {
  color: #fff;
  padding: 15px 40px;
  background-color: #00486c;
  border: none;
  font-weight: 600;
}
.contact-btn:hover {
  color: #00486c;
  background-color: transparent;
  border: 3px solid #00486c;
}
.footer {
  background-color: #00486c;
}
.wrapper-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.wrapper {
  width: 30%;
  background-color: #f1f1f1;
  padding: 2em 1em;
  margin: 1em;
  box-sizing: border-box;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
  text-align: center;
}
@media (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }
}

.wrapper:after {
  content: "";
  clear: both;
  display: block;
}
.wrapper > h1 {
  font-weight: 200;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  color: #333;
}
.details {
  width: 95%;
  margin: 0 auto 2em;
  padding-top: 10.5em;
  padding-bottom: 1em;
  background-color: #00486c;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  transition: all ease-in 0.15s;
}

.wrapper:hover .details {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
  transform: translate(0px, -2px) scale(1.01);
}

.details > h1 {
  font-size: 1em;
}
.details > h2 {
  font-weight: 200;
  letter-spacing: 0.1em;
}
.details > p {
  font-size: 1em;
  font-weight: 200;
}

.image {
  position: relative;
  z-index: 2;
  width: 85%;
  height: 250px;
  margin: 0 auto -10em;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  transition: all ease-in 0.15s;
}
.wrapper:hover .image {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate(0px, -3px) scale(1.02);
}
.hero-title {
  font-size: 40px;
  text-align: center;
  animation: fadeInUp 2s ease-in-out 0.5s;
  color: #919191;
}
.book-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.i1 {
  background-image: url("https://res.cloudinary.com/dn2nul7ux/image/upload/v1715527990/room-1_tkneaa.webp");
}
.i2 {
  background-image: url("https://res.cloudinary.com/dn2nul7ux/image/upload/v1715527991/room-3_l9xtbs.webp");
}
.i3 {
  background-image: url("https://res.cloudinary.com/dn2nul7ux/image/upload/v1715527991/room-4_xby0iv.webp");
}

.search-label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.color-9 a {
  color: white;
  text-decoration: none;
}
.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #00486c,
    #04befe,
    #00486c
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.contact-title {
  font-size: 40px;
  margin: 20px;
}
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  position: relative;
  background: url("https://res.cloudinary.com/dn2nul7ux/image/upload/v1715531991/hero-background_a9gses.webp")
    center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-hero,
.services-hero {
  height: 30vh;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-content {
  text-align: center;
  color: #fff;
  z-index: 2;
}

.hero-title {
  font-size: 3em;
  margin-bottom: 20px;
  animation: fadeInUp 2s ease-in-out;
}

.hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 30px;
  animation: fadeInUp 2s ease-in-out 0.5s;
  color: #8a8a8a;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: #0c3ded;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 300ms ease-in-out;
}

.hero-button:hover {
  background-color: #2980b9;
}

.link {
  color: #00486c;
  text-decoration: none;
  padding: 0 5px 5px 5px;
  border-radius: 5px;
  transition: all 200ms;
  font-weight: 700;
}
.link:hover {
  text-shadow: 0 0 1px black;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
