{% extends 'base.html' %}

{% block title %}
    Book Room
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2 class="text-center">Book Room!</h2>
                </div>
                <div class="card-body">
                    
                    <form action="{% url 'bookroom' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="hotel">Hotel:</label>
                            <input type="text" class="form-control" id="hotel" name="hotel" disabled="disabled" value="{{ room.hotel.name }}">
                        </div>
                        <div class="form-group">
                            <label for="location">Location:</label>
                            <input type="text" class="form-control" id="location" name="location" disabled="disabled" value="{{ room.hotel.location }}">
                        </div>
                        {% if user.is_authenticated %}
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required="required" value="{{ request.user }}" readonly="readonly">
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="person">Capacity:</label>
                            <input type="number" class="form-control" id="person" name="person" min="1" max="{{ room.capacity }}" required="required" value="{{ room.capacity }}">
                        </div>
<div class="form-group">
    <label for="check_in">Check-in:</label>
    <input type="date" class="form-control" id="check_in" name="check_in" min="{{ todays_date }}" max="{{ max_date }}" required="required" value="{{ check_in }}"></div>
    <div class="form-group">
        <label for="check_out">Check-out:</label>
        <input type="date" class="form-control" id="check_out" name="check_out" min="{{ tomorrow }}" max="{{ max_date }}" required="required" value="{{ check_out }}"></div>


                        <div class="form-group">
                            <label for="roomtype">Room Type:</label>
                            <input type="text" class="form-control" id="roomtype" name="roomtype" disabled="disabled" value="{{ room.get_room_type_display }}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="price">Price:</label>
                            <input type="number" class="form-control" id="price" name="price" disabled="disabled" value="{{ room.price }}">
                        </div>
                        <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Book Now</button>
                        </div>
                        <input type="hidden" name="room_id" value="{{ room.id }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
