{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Main navigation and hero section -->
    <header class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Welcome To Motel MEO</h1>
            <h2 class="hero-subtitle">A night in MEO Is a Night to remember</h2>
            <a href="#rooms" class="hero-button" aria-label="Check our rooms">Check our rooms ⬇️</a>
        </div>
    </header>

    <!-- Booking form section -->
    <section class="container-fluid my-4 py-5" id="search">
        <h1 class="book-title">Book Now</h1>
        <form method="post" class="row g-3" action="{% url 'search-page' %}">
            {% csrf_token %}
            <!-- Location input -->
            <div class="col-md-3">
                <label class="search-label" for="{{ form.search_location.id_for_label }}">Location:</label>
                {{ form.search_location }}
            </div>
            <!-- Check-in date input -->
            <div class="col-md-3">
                <label class="search-label" for="{{ form.check_in.id_for_label }}">Check-in Date:</label>
                {{ form.check_in }}
            </div>
            <!-- Check-out date input -->
            <div class="col-md-3">
                <label class="search-label" for="{{ form.check_out.id_for_label }}">Check-out Date:</label>
                {{ form.check_out }}
            </div>
            <!-- Capacity input -->
            <div class="col-md-3">
                <label class="search-label" for="{{ form.capacity.id_for_label }}">Capacity:</label>
                {{ form.capacity }}
            </div>
            <!-- Search button -->
            <div class="col-md-12 text-center my-5">
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </div>
        </form>
        <!-- Display available rooms if any -->
   
    </section>

    <!-- Room options section -->
    <section id="rooms">
        <h1 class="hero-title">Our Rooms</h1>
        <!-- Single room details -->
        <div class="wrapper">
            <h1>Single room</h1>
            <div class="image i1"></div>
            <div class="details">
                <h1>
                    <em>Comfortable</em>
                </h1>
                <h2>For one person</h2>
                <p>Nice view to your swimming pool</p>
            </div>
            <button class="btn-hover color-9">
                <a href="#search">Book Now</a>
            </button>
        </div>
        <!-- Double room details -->
        <div class="wrapper">
            <h1>Double Room</h1>
            <div class="image i2"></div>
            <div class="details">
                <h1>
                    <em>Comfortable</em>
                </h1>
                <h2>For two people</h2>
                <p>Nice view to your swimming pool</p>
            </div>
            <button class="btn-hover color-9">
                <a href="#search">Book Now</a>
            </button>
        </div>
        <!-- Suite details -->
        <div class="wrapper">
            <h1>Suite</h1>
            <div class="image i3"></div>
            <div class="details">
                <h1>
                    <em>Comfortable</em>
                </h1>
                <h2>For family</h2>
                <p>Nice view to your swimming pool</p>
            </div>
            <button class="btn-hover color-9">
                <a href="#search">Book Now</a>
            </button>
        </div>
    </section>

    <!-- JavaScript to handle date inputs -->
    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            var checkIn = document.getElementById('id_check_in');
            var checkOut = document.getElementById('id_check_out');

            checkIn.addEventListener('change', function () {
                var minCheckOutDate = new Date(checkIn.value);
                checkOut.min = minCheckOutDate.toISOString().split('T')[0];
                if (checkOut.value < checkIn.value) {
                    checkOut.value = checkIn.value;
                }
            });
        });
    </script> -->
{% endblock %}
